DATABASE_HOST=1.226.84.145
DATABASE_PORT=3306
DATABASE_NAME=huzy_log
DATABASE_USER=huzy_log
DATABASE_PASSWORD="huzylog123!@#"
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-secret
LOG_COLLECT_INTERVAL_MS=10000
